<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <body>     
        <main>
            <div class="divsMovies">
                <div class="imgMovie">
                    <a th:href="@{|/movies/detail/*{id}|}">
                        <img  width="210" th:src="@{|/images/*{id}.jpg|}"/>
                    </a> 
                </div>
                <div class="titleDetails">
                    <span class="parpadea text" th:if="${movie.year == 2021}"><strong>¡NOVEDAD!</strong><br></span>
                    <span class="bodyStyle titulin" th:text="${movie.title} "></span>
                    <br>
                    <span class="bodyStyle" th:text="${movie.year}"></span>  
                    <br>
                    <p th:text="${movie.description}"></p>
                </div> 
                <div class="actionButtons">
                    <a th:href="@{|/movies/miLista|}" class="buttonAction" style="color: #FF1177" extraInfo="${id}">
                        MiLista
                    </a>
                    <a th:href="@{|/movies/detail/*{id}|}" class="buttonAction" style="color: rgb(255, 81, 0)" extraInfo="${id}">
                        Añadir a lista
                    </a>
                    <a th:href="@{|/movies|}" class="buttonAction" style="color: orange" extraInfo="${id}">
                        Home
                    </a>   
                </div>         
            </div>
            <hr>
        </main>
        <footer>
            <div class="row">
                <div class="column left">
                    <img class="logoWeb" src="../static/images/FooterCat.jpg"
                    th:src="@{|/images/FooterCat.jpg|}"  alt="footer de la web">
                </div>
                <div class="column right">
                    <div class="textoFormulario">
                        <p>Gracias por visitar Meowies, contacte con nosotros usando el formulario del siguiente enlace si necesita ayuda</p>
                    </div>
                    <div class="linkFormulario">
                        <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
                        Formulario
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        
    </body>
</html>


