<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head.html :: head}">
</head>

<body>
    <main>
        <div class="divsProductos">
            <div class="divImgProduct">
                <img class="imgProduct" th:text="${producto.Img}" />
            </div>
            <div class="detalleProdcuto">
                <span class="bodyStyle titulin" th:text="${producto.NombreProducto} "></span>
                <br>
                <span class="bodyStyle" th:text="'$' + *{producto.Precio}"></span>
                <br>
                <p th:text="${pedido.FechaCreacion}"></p>
                <p th:text="${pedido.CantProductos}"></p>
                <p th:text="${pedido.NombreUsuario}"></p>
                <p th:text="${pedido.Estado}"></p>
            </div>
        </div>
        <ul th:class="list-group">
            <li th:each="post : ${posts}" th:object="${post}" th:class="list-group-item">
                <span th:text="*{text}" style="display:inline-block;width:50%"></span>
                <input class="btn btnModify" type="submit" th:value="Editar" style="color: white; background-color: orange;" th:url="@{|/posts/edit/*{id}|}" th:extraInfo="*{id}">
                <input class="btn btnDelete" type="submit" th:value="Eliminar" style="color: white; background-color: red;" th:url="@{|/v2/posts/*{id}|}" th:extraInfo="*{id}">

            </li>
        </ul>
        <br>
        <div class="buttonHome">
            <a th:href="@{|/productos|}" class="buttonAction" extraInfo="${id}">
                Home
            </a>
        </div>
        <hr>
    </main>
    <footer>
        <div class="row">
            <div class="column left">
                <img class="logoWeb" src="../static/images/FooterCat.jpg" th:src="@{|/images/FooterCat.jpg|}" alt="footer de la web">
            </div>
            <div class="column right">
                <div class="textoFormulario">
                    <p>Gracias por visitar Meowies, contacte con nosotros usando el formulario del siguiente enlace si necesita ayuda</p>
                </div>
                <div class="linkFormulario">
                    <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
                        Formulario
                        </a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>