<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head.html :: head}">
</head>

<body>

    <div th:replace="~{fragments/bodysHeader.html :: header}">
    </div>

    <main>

        <div class="columnasMain">
            <div class="columnas">

                <div class="divsProduct" th:each="producto : ${productos}" th:object="${producto}">

                    <div class="titleProduct">
                        <span class="bodyStyle titulin" th:text="*{nombreProducto} "></span>
                    </div>

                    <div class="divImgProduct">
                        <img class="imgProduct" th:src="*{Img}" />
                    </div>

                    <div class="price">
                        <span class="bodyStyle" th:text="'$' + *{precio}"></span>
                    </div>

                    <div class="buttonsProduct" style="text-align: center;">
                        <div style="display: grid;">
                            <h2>Favoritos</h2>
                            <a th:href="@{|/pedidos/${pedido.idPedido}/favoritos/add/*{idProducto}|}">
                                <Button th:text="#{addWhise}" style="width:80px; background-color: rgb(189, 5, 189);"></Button>
                            </a>
                            <a th:href="@{|/pedidos/${pedido.idPedido}/favoritos/remove/*{idProducto}|}">
                                <Button th:text="#{removeWhise}" style="width:80px; background-color: rgb(189, 5, 189);"></Button>
                            </a>
                        </div>
                        <div style="display: grid;">
                            <h2>Carrito</h2>
                            <a th:href="@{|/pedidos/${pedido.idPedido}/add/*{idProducto}|}">
                                <Button th:text="#{addCart}" style="width:80px; background-color: orange;"></Button>
                            </a>
                            <a th:href="@{|/pedidos/${pedido.idPedido}/remove/*{idProducto}|}">
                                <Button th:text="#{removeCart}" style="width:80px; background-color: orange;"></Button>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="columnaCarrito">
                <div class="carrito">
                    <div class="carritoCart">
                        <p>Shopping Cart</p>
                    </div>
                    <hr>

                    <div class="carritoList">
                        <p>Items bought:</p>

                        <span th:text="${pedido.idPedido}"></span>
                        <span th:text="${pedido.nombreUsuario}"></span>
                        <span th:text="${pedido.estado}"></span>
                        <span th:text="${pedido.fechaCreacion}"></span>

                        <ul>
                            <div th:each="orderProduct : ${pedido.productitos}" th:object="${orderProduct}">
                                <div th:if="${orderProduct.cantProductos} > 0">
                                    <span th:text="${orderProduct.cantProductos}"></span>
                                    <span th:text="${orderProduct.productos.nombreProducto}"></span>
                                    <span th:text="${orderProduct.productos.precio}"></span>
                                </div>
                            </div>
                        </ul>
                        <div class="carritoTotal">
                            <span th:text="${pedido.precioTotal} + '$'"></span>
                        </div>
                        <hr class="hrTotal">
                    </div>

                    <div class="carritoCheckout">
                        <a th:href="@{|/pedidos/new|}">
                            <button class="button">Checkout</button>
                        </a>
                    </div>
                </div>
                <a th:href="@{|/pedidos|}" style="margin-left: 35%">
                    <Button th:text="#{showOrders}" style="width:80px; background-color: orange;"></Button>
                </a>
                <div class="columnaFavoritos">
                    <h1>F A V O R I T O S</h1>
                    <div th:each="producto : ${pedido.listaFavoritos}" th:object="${producto}">
                        <span th:text="'ID: ' +  ${producto.idProducto}"></span>
                        <span th:text="'   ' + ${producto.nombreProducto}"></span>
                        <span th:text="'   ' + ${producto.precio} + '$'"></span>
                    </div>
                </div>
            </div>

        </div>

    </main>

</body>


</html>