<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head.html :: head}">
</head>

<body>
    <div th:replace="~{fragments/body.html :: body}">
    </div>
    <main>
        <div class="columnasMain">
            <div class="columnas">
                <div class="divsProduct" th:each="producto : ${productos}" th:object="${producto}">
                    <div class="titleProduct">
                        <span id="miedo" th:case="'Miedo'" class="bodyStyle titulin tipoPeliMiedo" th:text="*{nombreProducto} "></span>
                    </div>
                    <!-- <div class="divImgProduct">
                        <a th:href="@{|/movies/detail/*{id}|}">
                            <img class="imgProduct" th:src="@{|images/*{id}.jpg|}" />
                        </a>
                    </div>
                    -->
                    <div class="price">
                        <span class="bodyStyle" th:text="'$' + *{precio}"></span>
                    </div>
                    <div class="buttonsProduct">
                        <div class="inputCantidad">
                            <input id="myText" type="0" />
                        </div>
                        <!--
                        <div class="buttonAddToCart">
                            <a th:text="#{save}" th:href="@{'/myList/add?id=' + *{id}}" role="button" onclick="" class="buttonAction">
                                Añadir a la lista
                            </a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="columnaCarrito">
                <div class="carrito">
                    <div class="carritoCart">
                        <p>Shopping Cart</p>
                    </div>
                    <hr>
                    <div class="carritoTotal">
                        <p>Total: $472</p>
                    </div>
                    <hr class="hrTotal">
                    <div class="carritoList">
                        <p>Items bought:</p>
                        <ul>
                            <li>Game Console - 1 pcs.</li>
                            <li>Sofa - 2 pcs.</li>
                            <li>Beer - 24 pcs.</li>
                        </ul>
                    </div>
                    <div class="carritoCheckout">
                        <button class="button">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>