<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head.html :: head}">
    </head>

<body>
    <div th:replace="~{fragments/body.html :: body}">
    </div>
    <main>
        <div class="columnasMain">
            <div class="columnas">
                <div class="divsProduct" th:each="movie : ${movies}" th:object="${movie}">
                    <div class="titleProduct">
                        <div th:switch="${movie.tipoPelicula}">
                            <span id="miedo" th:case="'Miedo'" class="bodyStyle titulin tipoPeliMiedo" th:text="*{title} "></span>
                            <span id="accion" th:case="'Accion'" class="bodyStyle titulin tipoPeliAccion" th:text="*{title} "></span>
                            <span id="aventuras" th:case="'Aventuras'" class="bodyStyle titulin tipoPeliAventuras" th:text="*{title} "></span>
                            <span id="familiar" th:case="'Familiar'" class="bodyStyle titulin tipoPeliFamiliar" th:text="*{title} "></span>
                            <span id="musical" th:case="'Musical'" class="bodyStyle titulin tipoPeliMusical" th:text="*{title} "></span>
                        </div>
                    </div>
                    <div class="divImgProduct">
                        <a th:href="@{|/movies/detail/*{id}|}">
                            <img class="imgProduct" th:src="@{|images/*{id}.jpg|}" />
                        </a>
                    </div>
                    <div class="price">
                        <span class="bodyStyle" th:text="'$' + *{year}"></span>
                    </div>
                    <div class="buttonsProduct">
                        <div class="inputCantidad">
                            <input id="myText" type="0" />
                        </div>
                        <div class="buttonAddToCart">
                            <a th:text="#{save}" th:href="@{'/myList/add?id=' + *{id}}" role="button" onclick="" class="buttonAction">
                                Añadir a la lista
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columnaCarrito">
                <div class="carrito">
                    <div class="carritoCart">
                        <p>Shopping Cart</p>
                    </div>
                    <hr>
                    <div class="carritoTotal">
                        <p>Total: $472</p>
                    </div>
                    <hr class="hrTotal">
                    <div class="carritoList">
                        <p>Items bought:</p>
                        <ul>
                            <li>Game Console - 1 pcs.</li>
                            <li>Sofa - 2 pcs.</li>
                            <li>Beer - 24 pcs.</li>
                        </ul>
                    </div>
                    <div class="carritoCheckout">
                        <button class="button">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>