<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head.html :: head}">
</head>

<body>

    <div th:replace="~{fragments/bodysHeader.html :: header}">
    </div>

    <main>

        <div class="columnasMain">
            <div class="columnas">

                <div class="divsProduct" th:each="producto : ${productos}" th:object="${producto}">

                    <div class="titleProduct">
                        <span class="bodyStyle titulin tipoPeliMiedo" th:text="*{nombreProducto} "></span>
                    </div>


                    <div class="divImgProduct">
                        <img class="imgProduct" th:src="${producto.img}" />

                    </div>

                    <div class="price">
                        <span class="bodyStyle" th:text="'$' + *{precio}"></span>
                    </div>
                    <div class="buttonsProduct">

                        <div class="inputCantidad">
                            <input id="myText" type="0" />
                        </div>
                            <a name = "" th:text="#{save}" th:href="@{'/myList/add?idProducto=' + *{idProducto}}"
                            role="button" onclick="" class="buttonAction" style="color: rgb(255, 81, 0)">
                                Añadir a la lista
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="columnaCarrito">
                <div class="carrito">
                    <div class="carritoCart">
                        <p>Shopping Cart</p>
                    </div>
                    <hr>
                    <div class="carritoTotal">
                        <p>Total: $472</p>
                    </div>
                    <hr class="hrTotal">
                    <div class="carritoList">
                        <p>Items bought:</p>
                        <ul>
                            <li>Game Console - 1 pcs.</li>
                            <li>Sofa - 2 pcs.</li>
                            <li>Beer - 24 pcs.</li>
                        </ul>
                    </div>
                    <div class="carritoCheckout">
                        <button class="button">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>


</html>