<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/head.html :: head}">
    </head>
    <body>
        <div th:replace="~{fragments/body.html :: body}">
        </div>
        <main>
            <div class="columnas">
                <div class="divsMovies" th:each="movie : ${myListMovies}"
                    th:object="${movie}">
                    <div class="imgMovie">
                        <a th:href="@{|/movies/detail/*{id}|}">
                            <img width="150" th:src="@{|images/*{id}.jpg|}"/>
                        </a>
                    </div>
                    <div class="titleMovie">
                        <span class="parpadea text" th:if="${movie.year == 2021}"><strong>¡NOVEDAD!</strong><br></span>
                        <div th:switch="${movie.tipoPelicula}">
                            <span id="miedo" th:case="'Miedo'" class="bodyStyle titulin tipoPeliMiedo" th:text="*{title} "></span> 
                            <span id="accion" th:case="'Accion'" class="bodyStyle titulin tipoPeliAccion" th:text="*{title} "></span> 
                            <span id="aventuras" th:case="'Aventuras'" class="bodyStyle titulin tipoPeliAventuras" th:text="*{title} "></span> 
                            <span id="familiar" th:case="'Familiar'" class="bodyStyle titulin tipoPeliFamiliar" th:text="*{title} "></span> 
                            <span id="musical" th:case="'Musical'" class="bodyStyle titulin tipoPeliMusical" th:text="*{title} "></span> 
                        </div>
                        <br>
                        <span class="bodyStyle" th:text="*{year}"></span>
                        <br>
                    </div>
                    <div class="actionButtons">
                        <a th:href="@{|/movies/miLista|}" class="buttonAction" style="color: #FF1177" extraInfo="${id}">
                            MiLista
                        </a>
                        <a th:href="@{|/movies/detail/*{id}|}" class="buttonAction" style="color: rgb(255, 81, 0)" >
                            Añadir a lista
                        </a>
                        <a th:href="@{|/movies/detail/*{id}|}" class="buttonAction" style="color: orange" extraInfo="${id}">
                            Detalles
                        </a>   
                    </div>
                </div>
            </div>
            <div class="cuadraditos">
                Tipos de película por colores: 
                <div class="poligMiedo">
                    <a href="#miedo">Miedo</a>
                </div>
                <div class="poligAccion">
                    <a href="#accion">Acción</a>
                </div>
                <div class="poligAventuras">
                    <a href="#aventuras">Aventuras</a>
                </div>
                <div class="poligFamiliar">
                    <a href="#familiar">Familiar</a>
                </div>
                <div class="poligMusical">
                    <a href="#musical">Musical</a>
                </div>
            </div>
            <hr>
        </main>

    
        <footer>
            <div class="row">
                <div class="column left">
                    <img class="logoWeb" src="../static/images/FooterCat.jpg"
                    th:src="@{|/images/FooterCat.jpg|}"  alt="footer de la web">
                </div>
                <div class="column right">
                    <div class="textoFormulario">
                        <p>Gracias por visitar Meowies, contacte con nosotros usando el formulario del siguiente enlace si necesita ayuda</p>
                    </div>
                    <div class="linkFormulario">
                        <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
                        Formulario
                        </a>
                    </div>
                </div>
            </div>
        </footer>
       
    </body>
</html>