<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head.html :: head}">
</head>

<body>
    <div th:replace="~{fragments/body.html :: body}">
    </div>
    <main>
        <div class="columnas">
            <div class="divsMovies" th:each="productoLista : ${productosMyList}" th:object="${productoLista}">

                <div class="titleProduct">
                    <span class="bodyStyle titulin tipoPeliMiedo" th:text="*{nombreProducto} "></span>
                </div>

            </div>
        </div>
    </main>

</body>

</html>